header {
  margin-bottom: 1.5rem;
  text-align: right;

  > * {
    margin-left: 0.75rem;
  }
}

.search-input-field {
  width: 100%;
}

/**
 * Table
 */
.table-container {
  position: relative;
  overflow: auto;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;

  .actions {
    text-align: right;
  }
}

.no-items {
  border-bottom: 1px solid rgba(0,0,0,.12);
  line-height: 3rem;
  margin: 0;
  text-align: center;
}
